/* Coolors Exported Palette - coolors.co/232120-593f62-f4fff8-8baaad-000f08 */

/* RGB */
$color1: rgba(35, 33, 32, 1);
$color2: rgba(89, 63, 98, 1);
$color3: rgba(244, 255, 248, 1);
$color4: rgba(11, 144, 170, 1);
$color5: rgba(0, 15, 8, 1);
